*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root{
    height: 100vh;
    background: pink;
    display: flex;
    justify-content: center;
    align-items: center;
}
#quote{
    background-color: rgb(229, 242, 242);
    height: 30vh;
    width: 80vw;
    padding: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 2em;
    box-shadow:  inset 2px 2px 5px 5px gray;

}