
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#root {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #4da6ff, #1a75ff); 
    font-family: sans-serif;
}

#mainBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem; 
    padding: 2rem;
    border-radius: 12px;
    background-color: rgba(77, 166, 255, 0.4); 
    color: white;
    width: 80%;
    max-width: 500px;
    min-height: 300px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2); 
}


#heading {
    text-transform: capitalize;
    font-size: 3rem;
    color: white;
    text-align: center;
}

#form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    width: 100%;
}

#inp {
    height: 2.5rem;
    width: 80%;
    max-width: 300px;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    outline: none;
    box-sizing: border-box;
    transition: border 0.2s, box-shadow 0.2s; 
}


#submitbutton {
    background-color: rgb(252, 147, 0);
    padding: 0.7rem 2rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    transition: background 0.3s;
}

#submitbutton:hover {
    background-color: rgb(255, 165, 0);
}
#weatherInfo{
    margin-top: 1rem;
    width: 90%;
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.6rem;
    background: rgba(255, 255, 255, 0.18);
    padding: 1rem;
    border-radius: 10px;
}