*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: aqua;
}
#root{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-weight: 900;
  font-size: 5rem;
}