*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root{
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    overflow: hidden;
}
#innerCircle{
    position: absolute;
    height: 10vh;
    width: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    animation-name: blink ;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    /* background-color:  */
    overflow: hidden;
}
@keyframes blink {
    0%{
        transform: scale(1);
        opacity: 1;
        font-size: 1em;
    }
    100%{
        transform: scale(2);
        opacity: 0;
        font-size: 2em;
    }
    
}
